In [2]:
import pandas as pd

expect = pd.read_excel('expect_compare.xlsx')
expect.head(4)

,Unnamed: 0,customer_id,districts,max_loan,min_area,garage,rooms,swimming_pool,elevator,porter,terrace,public_transport,air_conditioning,storage_room,wardrobes,garden
0,0,0,fuencarral,227342.979570,70.0,0,2,0,0,0,0,0,0,0,0,0
1,1,1,hortaleza,216814.535933,70.0,0,2,0,0,0,0,0,0,0,0,0
2,2,2,"chamberi,moncloa_aravaca,ciudad_lineal",406527.254874,90.0,1,3,0,0,0,1,1,0,1,0,0
3,3,3,"centro,hortaleza,canillejas,barajas",227342.979570,NaN,1,3,0,1,0,0,1,1,0,1,0

In [3]:
market = pd.read_excel('market_compare.xlsx')
market.head(4)

,Unnamed: 0,title,price,currency,garage,description,surface,rooms,more,districts,swimming_pool,porter,terrace,public_transport,air_conditioner,exterior,wardrobes,garden,storage_room,elevator
0,0,"Piso en Secoya 3 D, Pau de Carabanchel, Madrid",380000,€,Garaje incluido,Gilmar Madrid-Rio ( ) Ubicado en la zona de PA...,73 m²,1,Planta 6ª exterior con ascensor,canillejas,1,1,0,0,0,0,0,0,1,0
1,1,"Piso en Conde Orgaz-Piovera, Madrid",1150000,€,Garaje incluido,"GILMAR Consulting Inmobiliario Madrid, Conde O...",73 m²,1,Planta 6ª exterior con ascensor,canillejas,0,0,0,0,0,0,0,0,0,0
2,2,"Piso en Pueblo Nuevo, Madrid",229000,€,Garaje incluido,GILMAR Consulting presenta este piso para actu...,73 m²,1,Planta 6ª exterior con ascensor,canillejas,0,0,1,0,0,0,0,0,0,0
3,3,"Piso en Campo de las Naciones-Corralejos, Madrid",270000,€,Garaje incluido,"GILMAR Consulting Inmobiliario Madrid, Conde O...",73 m²,1,Planta 6ª exterior con ascensor,canillejas,0,0,0,0,0,0,0,1,0,0

In [29]:
# Aplicar groupby y calcular la media de precios por distrito
mean_prices = market.groupby(['districts','terrace','elevator'])['price'].mean().reset_index()

# Redondear la columna 'price' a dos decimales
mean_prices['price'] = mean_prices['price'].round(2)

# Imprimir el resultado
mean_prices

# Imprimir el result
mean_prices_sorted = mean_prices.sort_values(by='price', ascending=False)

mean_prices_sorted[(mean_prices_sorted['districts']!='canillejas')&(mean_prices_sorted['districts']!='tetuan')&(mean_prices_sorted['districts']!='ciudad_lineal')]

mean_prices_sorted.to_excel('mean_market_prices.xlsx')

In [13]:
filtered_match = market[
    (expect['max_loan'].values >= market['price'].values) &
    (expect['districts'].values == market['districts'].values) &
    (expect['elevator'].values == market['elevator'].values) 
    ]

# Imprimir el DataFrame filtrado
filtered_match

for expect_list, market_list in zip(expect['districts'], market['districts']):
    common_elements = set(expect_list) & set(market_list)
    
    if common_elements:
        print(f"Elementos comunes en las listas: {common_elements}")

ValueError: operands could not be broadcast together with shapes (65,) (628,)

In [9]:
filtered_match = market[
    (expect['max_loan'].values >= market['price'].values) &
    (market['districts'].apply(lambda x: any(district in expect['districts'].values for district in x))) &
    (expect['elevator'].values == market['elevator'].values)
]

ValueError: operands could not be broadcast together with shapes (65,) (628,)

In [11]:
filtered_match = market[
    (expect['max_loan'].values >= market['price'].values) &
    (market['districts'].apply(lambda x: any(district in expect['districts'].values for district in x))) &
    (expect['elevator'].values == market['elevator'].values)
]

ValueError: operands could not be broadcast together with shapes (65,) (628,)